<h4>Formularios <small>template</small></h4>
<hr>
<form>
  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">
      <input  class="form-control"
              type="text"
              placeholder="Nombre"
              name="nombre"
              ngModel>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">
      <input  class="form-control"
              type="text"
              placeholder="Apellido">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input  class="form-control"
              type="text"
              placeholder="Correo electrónico">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>