<div class="card animated fadeIn fast">
  <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
  <div class="card-body">
    <h5 class="card-title">{{ heroe.nombre }}</h5>
    <p class="card-text">{{ heroe.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

    <button type="button" class="btn btn-outline-primary" (click)="verHeroe()">
      Ver más...
    </button>

  </div>
</div>