<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn fast">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officiis reprehenderit corrupti eaque quae fugit corporis, modi quod ullam id officia facilis obcaecati vel sit necessitatibus, unde porro ratione saepe.
</p>