<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">AuthApp</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>

      <li class="nav-item" routerLinkActive="active"
          *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>

    <span class="navbar-text">

      <button (click)="login()"
              *ngIf="!auth.isAuthenticated()"
              type="button"
              class="btn btn-outline-primary btn-sm">Ingresar</button>


      <button (click)="salir()"
              type="button"
              *ngIf="auth.isAuthenticated()"
              class="btn btn-outline-primary btn-sm">Salir</button>

    </span>

  </div>
</nav>
